* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;

  --cor-fundo: #e9e9e9;
  --cor-texto: #303030;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

aside {
  padding: 0 1.5rem;
  display: none;
  background-color: var(--cor-fundo);
}

aside>header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 3.5rem;
}

aside>nav>ul>li {
  padding-bottom: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1rem;
}

main>header,
h2 {
  margin: 0 0.5rem;
}

main>header {
  display: flex;
  justify-content: space-between;
}

main>section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main>section>article {
  border-radius: 0.5rem;
  border: 1px solid var(--cor-fundo);
  margin: 1.5rem 0.5rem 0;
}

main>section>article>h3 {
  background-color: var(--cor-fundo);
  padding: 0 1rem;
}

main>section>article>ul {
  list-style: none;
  padding: 0.5rem 1rem 1rem;
}

.main-login {
  display: flex;
  flex: 1;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
}

.main-login img {
  height: 6.5rem;
  width: 6.5rem;
  margin: 0 auto;
}

.main-login h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.main-login label {
  display: flex;
  flex-direction: column;
}

.main-login input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.main-login button {
  background-color: var(--cor-fundo);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: var(--cor-texto);
}

.main-login p {
  color: red;
  padding-bottom: 1rem;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

@media (width: 768px) {
  main>section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  body {
    flex-direction: row;
  }

  main {
    max-width: 400px;
    margin: 2.5rem auto;
    border: 1px solid var(--cor-fundo);
  }

  main>button {
    margin: 0 3rem;
  }

  aside {
    display: flex;
    flex-direction: column;
  }

  .body-login {
    flex-direction: column;
  }
}